.accordion details {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: var(--background-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 15px;
}

.accordion details p {
  margin-bottom: 0.8em;
  font-size: 14px;
  line-height: 22px;
}

.accordion details summary {
  position: relative;
  padding: 18px 50px 18px 20px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-primary);
  text-transform: uppercase;
}

.accordion details[open] summary {
  background-color: var(--background-light);
  border-bottom: 1px solid #e0e0e0;
}

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: var(--background-light);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 16px;
  height: 2px;
  background-color: var(--color-primary);
  transition: transform 0.2s;
}

.accordion details summary::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 16px;
  height: 2px;
  background-color: var(--color-primary);
  transition: transform 0.2s, opacity 0.2s;
}

.accordion details:not([open]) summary::before {
  transform: translateY(-50%) rotate(90deg);
}

.accordion details[open] summary::before {
  opacity: 0;
}

.accordion details .accordion-item-body {
  padding: 20px;
}

.accordion details[open] .accordion-item-body {
  background-color: var(--background-color);
}
